<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/maincss.css">
  </head>
  <body>
    <div class="navbar">
        <img src="/nitlogofinal.png" alt="no image">
        <h1>National Institute of Technology AP: internship project: 4th semester</h3>
    </div>
   
    <div class="container">
      <a href="/" style="text-decoration: none;"><button class="submitbtn">home</button></a>
      <h2 style="text-align: center;">enter username and password given by administration</h2>
      <form action="/client/salary" class="form-container" method="POST">
        <input class="isinput" type="text" name="name" id="name" placeholder="enter name here" />
        <input class="isinput" type="password" name="password" placeholder="enter password here">
        <h3 style="margin: 0 0;">leave month clear to get all salary data</h3>
        <input  class="isinput"type="month" name="month"  id="month">
        <button class="submitbtn"type="submit">check salary </button>
      </form>

    </div>

  </body>
</html>