<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="navbar">
        <img src="nitlogofinal.png" alt="no image">
        <h1>National Institute of Technology AP: internship project: 4th semester</h3>
    </div>
    <div class="container">
        <div class="subcontainer">
            <h2>link to administration site</h2>
            <a href="/administration/signin"><button class="btn" style="cursor:pointer">admin site</button></a>
        </div>
        <div class="subcontainer">
            <h2>link to client site</h2>
            <a href="/client/salary"><button class="btn" style="cursor:pointer">client site</button></a>
        </div>
    </div>
    <div class="secondc">
        <h1>PROJECT members</h1>
        <ul>
            <li><h2>Animesh Basak: cs21b001</h2></li>
            <li><h2>Tage Tapang: cs21b003</h2></li>
            <li><h2>Kaling Jorang: cs21b012</h2></li>
            <li><h2>Ritesh Kumar Choudhary: cs21b030</h2></li>
            <li><h2>Bina Rai: cs21b032</h2></li>
        </ul>
       
    </div>
    
</body>
</html>